{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="description" content="Debate on any topic you find interesting!">
	<meta name="keywords" content="debate, forum, dispute">
	<meta name="author" content="Piotr Kotarba">
    <meta name="viewport" content="width=device-width, initial-scale=1">

     <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />  <!-- improves use on IE -->

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'forum/css/fontello.css' %}">
    <!--[if IE 7]><link rel="stylesheet" href="css/" + font.fontname + "-ie7.css"><![endif]-->
    <!--[if IE 7]>
    <link rel="stylesheet" href="{% static 'forum/css/fontello-ie7.css' %}">
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="{% static 'forum/main.css' %}">
    <link rel="icon" href="{% static 'forum/Logo.png' %}" type="image/icon type">

    {% if title %}
        <title>{{ title }} - MyForum</title>
    {% else %}
        <title>MyForum</title>
    {% endif %}

</head>

<body>
    <header>
        <nav class="navbar navbar-dark justify-content-center">
            <media class="col-12">
                <a href="#"><img class="img-fluid mx-auto d-block" src="{% static 'forum/Logo.png' %}" alt="MyForum logo"></a>
            </media>
            <nav class="navbar-expand ">
                <ul class="navbar-nav mr-auto ml-auto">
                    <li class="nav-item">
                        <a class="nav-link " href="{% url 'main-page' %}">Home</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'profile' %}">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Register</a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </nav>
    </header>

    <div class="container">
        {% block content %}{% endblock %}
    </div>

     <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>

</body>
</html>