{% extends "forum/base_template.html" %}
{% load crispy_forms_tags %}
{% block content%}
    <div class="row forum-title mx-auto" style="max-width: 400px;">
        <h2 class="h5 col-12 mb-0 pt-1 pb-1">Reset Password</h2>
    </div>
    <div class="row forum_container mx-auto" style="max-width: 400px;">
        <div class="col-12">
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group pt-1">
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                        <button class="btn btn-outline-secondary brown_btn" type="submit">Password Reset</button>
                </div>
            </form>
        </div>
    </div>

{% endblock content%}
